[Desktop Entry]
Type=Application
Name=QTeletextMaker
GenericName=Teletext page editor
Exec=qteletextmaker %F
TryExec=qteletextmaker
Categories=Graphics;
Keywords=teletext;
MimeType=text/x.teletext.tti;text/x-softel-teletext;
